body {
    background:#242e3d;
    font-family: Georgia, serif;
    color: whitesmoke;
    padding:2rem;
}

h1 {
  font-size: 2.5rem;
  color: #01edfa;
  margin-bottom: 0.3rem;
}

p {
  color: #888;
  margin-bottom: 2rem;
}